/*Universal*/

html {
  font-family: monospace;
  font-size: 18px;
  background-color: #ffffff;
  color: white;
}
body {
  line-height: 1.5;
  margin: 0; padding: 0;
}
@media only screen and (max-width: 850px) {
  body {
    font-size: 1rem;
  }
}
.flex {
  display: flex;
}
.container {
  width: 970px;
  margin: 0 auto;
}
@media only screen and (max-width: 1050px) {
  .container {
    width: 99%;
  }
}
.test {
  border: 1px solid red;
}
.color-box {
  width: 100%;
  margin: 0;
  padding: 6rem 0 3rem 0;
  opacity: .90;
}
@media only screen and (max-width: 850px) {
  .color-box {
    padding: 2rem 0;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}
.c {
  clear: both;
}
.mobile {
  display: none;
}

/*Header*/

header {
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.52);
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 2;
}
header div {
  width: 3rem;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: .8;
}
header div img {
  width: 100%;
  margin-right: 2rem;
}
nav {
  margin-right: 2rem;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  font-size: .9rem;
  font-weight: thin;
  margin: 1rem;
}
nav li a {
  color: hsla(0, 0%, 100%, 0.59);
  transition: color 700ms ease;
}
nav li a:hover {
  opacity: 1;
  color: white;
}
@media only screen and (max-width: 850px) {
  header div span {
    display: none;
  }
  header div img {
    width: 1.4rem;
    text-align: center;
    margin: 0 auto;
  }
  header, nav ul {
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
  }
  header {
    padding: 1rem 0;
    position: fixed;
    top: -22rem;

  }
  nav li {
    width: 10rem;
    margin: .3rem auto;
    font-size: 1.5rem;
  }
  nav ul {
    width: 90%;
    margin: 0 auto;
  }
  nav {
    width: 90%;
    margin: 0 auto;
  }
  header div {
    width: 96%;
    margin: 0 auto;
  }
}





/*Supporting*/
p {
  line-height: 2.5;
  text-indent: 1rem;
  margin: 1rem;
  opacity: 1;
}
p span:nth-child(even) {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: .9rem;
  opacity: 1;
  font-weight: bold;
  font-style: italic;
}
p span:nth-child(odd) {
  opacity: .4;
}
p span:nth-child(4n+4) {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}
.container img {
  width: 40%;
  shape-outside: ellipse();
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 2rem hsla(0, 0%, 0%, 0.6);
}
.bg {
  background-color: hsla(0, 0%, 0%, 0.13);
  padding: 1rem;
}

#spacearound {
  justify-content: space-around;
}
.container h1 {
  font-size: 2rem;
  margin: 1rem;
  font-weight: bold;
  opacity: .8;
}
.container h2 {
  font-size: 1.4rem;
  margin: 1rem;
  font-weight: thin;
  opacity: .7;
}





/*TODAY SECTION*/
.today video {
  width: 50%;
  shape-outside: ellipse();
  margin: 1rem;
}
.today .trips-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  shape-outside: ellipse();
  width: 30%;
  border-radius: 1rem;
}
.today .trips-img div {

  width: 100%;
  overflow: hidden;
  margin: 1rem;

}
.today .trips-img img {
  width: 100%;
  position: relative;
  display: block;
  border-radius: 1rem;
  box-shadow: .5rem .5rem 1rem hsla(0, 0%, 0%, 0.4);
}







/*TOMORROW Section*/







/*IDEAS SECTION*/







/*Checklist Section*/






/*Background Colors*/
.green {
  background-color: hsla(136, 97%, 17%, 0.85);
}
.yellow {
  background-color: hsl(54, 78%, 51%);
}
.orange {
  background-color: hsla(41, 83%, 30%, 0.75);
}
.blue {
  background-color: hsla(203, 85%, 29%, 0.75);
}
.purple {
  background-color: hsla(259, 90%, 20%, 0.85);
}
.pink {
  background-color: hsla(288, 82%, 29%, 0.78);
}
.red {
  background-color: hsla(355, 85%, 29%, 0.85);
}
.pitch-dark {
  background-color: hsla(0, 0%, 0%, 0.88);
}


/*Text Colors*/
.green-color {
  color: hsl(153, 69%, 48%);
}
.red-color {
  color: hsl(344, 79%, 47%);
}
.orange-color {
  color: hsla(28, 87%, 40%, 1);
}
.purple-color {
  color: hsla(259, 100%, 50%, 1);
}
.black-color {
  color: hsla(0, 0%, 0%, 0.92);
}






/*Footer subjects*/

footer {
  width: 100%;
  height: 10rem;
  background-color: hsla(0, 0%, 0%, 0.68);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1rem solid hsla(0, 0%, 0%, 0.04);
}
footer h3, footer h4 {
  opacity: .8;
}
footer span {
  opacity: .7;
  padding: 1rem;
  font-size: .8rem;
}
